.vscode/**
.git/**
.github/**
.gitignore
.prettierrc
src/**
tsconfig.json
webpack.config.js
package-lock.json
npm-debug.log
vsc-extension-quickstart.md
.npmignore
**/*.map
**/node_modules/**
!dist/**
!media/**
!package.json
!README.md
!README.pt.md
!LICENSE
